@use "./spacing.scss" as *;
@use "./utils.scss" as *;

@mixin grid {
    width: calc(50% - $grid-margins);
    aspect-ratio: 1 / 1;
    background-color: #7a007a;

    display: flex;
    flex: 1;
    flex-direction: column;
    // padding: 5%;
}

#top-left-grid {
    @include grid;
    @include top-left;
}

#top-right-grid {
    @include grid;
    @include top-right;
}

#bottom-left-grid {
    @include grid;
    @include bottom-left;
}

#bottom-right-grid {
    @include grid;
    @include bottom-right;
}

.TaskInput {
    width: 100%;
    flex: 1;
}

.outside-index {
    position: absolute;
    right: calc(100% + $text-spacing);
}

.task-title {
    @include no-default-input;
}

.sugested-action {
    position: absolute;
    bottom: calc(100% + $text-spacing);
}