@use "./vars.scss" as *;

body {
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 100vh;
    margin: 0px;

    @include font    
}

@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

#mid-grid {
    @include center;

    width: $matrix-size;
    height: $matrix-size;

    // background-color: blue;
}

#title {
    // width: 100%;

    position: absolute;
    // text-align: center;
    left: 2.5%;
    top: 5%;
}