@use "./spacing.scss" as *;

body {
    background-color: rgb(27, 27, 27);
    width: 100vw;
    height: 100vh;
    margin: 0px;

    font-family:'Lexend Deca';
    // font-weight: 500;
    color: white;
    font-size: min(2vh, 2vw);
}

.base-font {
    font-size: min(2vh, 2vw);
}

.sub1-font {
    font-size: min(2.5vh, 2.5vw);
}

.sub2-font {
    font-size: min(3vh, 3vw);
}

.title-font {
    font-size: min(5vh, 5vw);
}

@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
}

#mid-grid {
    @include center;

    width: $matrix-size;
    height: $matrix-size;

    // background-color: blue;
}

#title {
    // width: 100%;

    position: absolute;
    // text-align: center;
    left: 2.5%;
    top: 5%;
}