@use "./vars.scss" as *;

$tab-color: #4b4b4b79;

.matrix-picker {
    position: absolute;
    
    top: 50%;
    width: 10em;
    height: 1.5em;

    translate: 0% -50%;

    // width: 10em;
    height: 25em;
    // height: fit-content;
    background-color: $tab-color;
    // overflow-x: visible;

    transition: all .5s;

    &.closed {
        translate: -100% -50%;
    }

    &.open {

    }
}

.matrix-picker-container {
    width: calc(100% + 10px);
    height: 100%;
    overflow-y: scroll;
}


.matrix-picker-tab {
    position: absolute;
    left: 100%;
    top: 50%;

    background-color: $tab-color;

    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;

    border-left: solid 2px #24242479;

    width: 15%;
    height: 5vh;

    translate: 0% -50%;
}

$matrix-picker-margin: 5%;

.matrix-picker-icon {

}

.matrix-picker-header {
    width: 100%;
    height: 1.5em;
    background-color: #57575779;

    .matrix-picker-header-text {

        user-select: none;

        position: absolute;
        left: $matrix-picker-margin;
    }
}

.matrix-picker-new-matrix {
    width: 100%;
    height: 1.5em;
    // position: absolute;
    .matrix-picker-new-matrix-input {

        position: absolute;
        width: 80%;
        left: $matrix-picker-margin;
        height: 1.5em;

        @include font;
        border: none;
        background: none;
        outline: none;

        padding: 0px;
    }

    .matrix-picker-new-matrix-container {
        position: absolute;
        width: 100%;
        height: 1.5em;
    }
    
}

.matrix-picker-matrix {
    width: 100%;
    height: 1.5em;

    &.selected {
        background-color: #ffffff27;
    }

    .matrix-picker-matrix-text {
        position: absolute;
        @include font;
        left: $matrix-picker-margin;
    }
}

.matrix-picker-new-matrix-button {
    position: absolute;
    // width: 1vh;
    // aspect-ratio: 1;
    width: 1.1em;
    height: 1.1em;
    right: .2em;
    bottom: .2em;
    filter: opacity(30%);
    // background-image: url("../imgs/plus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}